.Timeline {
  .start {
    height: 80px;

    .timeline-item-divider {
      border-radius: 0%;
      width: 60px;
      height: 28px;
      text-align: center;
      padding-top: 10px;

      &::after {
        left: 25%;
      }
    }
  }

  .end {
    .timeline-item-divider {
      &::before {
        width: 0;
      }
    }
  }
  .timeline-item-divider {
    width: 10px;
    height: 0;
    color: white;
    background: #1f8e93;

    .timeline-icon {
      position: relative;
      left: -7px;
      top: 30px;
      color: #1f8e93;
    }
  }

  .timeline-item-date {
    width: 10px;
    span {
      position: absolute;
      top: 4.6rem;
      left: 0;
      transform: rotate(-90deg);
    }
  }

  .timeline-item {
    &:nth-of-type(odd) {
      .timeline-item-content {
        .timeline-item-wrapper {
          margin-left: 3rem;
          .timeline-item-name {
            flex: 0.48 0 5rem !important;
          }
        }
      }
    }
  }

  .timeline-item-content {
    width: 100%;

    .timeline-item-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .timeline-item-badge {
        height: 6rem;
        padding-left: 0rem;
        flex: 0 0 auto;

        img {
          height: 100%;
          width: auto;
          max-width: 100%;
        }
      }

      .timeline-item-name {
        flex: 1 1;
        word-break: break-all;
      }
    }
  }
}

/* .timeline-item-spacer {
  //width: 2rem;
}

.timeline-item-spacer {
  flex: 0 0 auto;
} */
