/* Your app custom styles here */

@import "timeline";
@import "list";

/* Remove tab activation in full app */
.md .tabbar .tab-link-highlight,
.md .tabbar-labels .tab-link-highlight {
  display: none;
}

.link-active {
  color: red !important;
}

.Achievements {
  .achievement-header {
    .block {
      margin-top: 0px;
      & h1 {
        color: black;
      }
    }

    & .left-segment {
      display: flex;
      flex-flow: column nowrap;
      padding-top: 1.6em;

      .archivement-user-meta {
        display: flex;
        flex-flow: row nowrap;

        > div {
          flex: 1;
        }

        .archivement-user-meta-actions {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;

          i {
            color: #8c8b94;
            padding: 3px;
          }
        }
      }

      .top {
        height: 5.5em;
      }

      .bottom {
        padding-top: 1.1em;

        h4 {
          color: black;
          font-weight: normal;
          font-size: 1rem;
        }
        p {
          color: #808080;
          font-style: italic;
        }
      }
      & h4,
      p {
        margin: 2px;
      }
    }
  }

  & .achievement-badge {
    flex: 1;
    padding: 0.5em;
    color: #1f8e93;

    > div {
      text-align: center;

      &:first-child {
        font-size: 2em;
      }

      &:last-child {
        font-size: 0.8rem;
      }
    }
  }

  .achievement-count {
    & h5 {
      margin: 0rem 0.8em;
      color: #3d3b4b;
    }
    .badges-container {
      display: flex;
      overflow-x: hidden;
    }
  }

  .achievement-emblems {
    height: 10em;
    color: white;
    background-color: #1f8e93;
    margin-bottom: 2em;

    & h4 {
      margin: 0em 0.7em;
      padding: 0.7em 0 0.4em 0;
    }
    .emblem-container {
      display: flex;
      padding: 0 0.7rem;

      > div {
        flex: 1;
      }

      & .achievement-emblem {
        height: 5.2rem;
        min-width: 5rem;

        .achievement-emblem-inner {
          background-color: #fff;
          border: 2px solid #67bcd1;
          margin-right: 1rem;
          height: 5.2rem;
          min-width: 4.7rem;
        }

        & img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .emblem-view-more {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 5px;

    i {
      border: 1px solid white;
      border-radius: 100%;
    }

    > div:last-child {
      font-size: 0.7rem;
      margin-top: 5px;
    }
  }

  .achievement-statistic {
    & h5 {
      margin: 0rem 0.8em;
    }
    .statistic-container {
      display: flex;
      border: 1px solid transparent;
      border-top-color: #bac8c4;
      margin: 0.5em;
      padding: 1em 0;
      color: #1f8e93;

      .stat-container {
        width: 6.5em;
        height: 6.5em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background: #b2d1d5;
        border-radius: 100%;
        text-align: center;
        padding: 0.5em;
        font-size: 1em;

        & p {
          margin: 0;
          font-size: 2em;
        }
        & p:first-child {
          color: white;
          font-size: 1em;
        }

        > span {
          font-size: 0.8rem;
          line-height: 1;
          margin-bottom: 4px;
        }
      }
    }
  }

  .line-graph-container {
    position: relative;
    height: 8em;
    width: 17em;
  }
}

.Avatar {
  height: 5.5em;
  min-width: 5em;

  & img {
    border: 1px solid #999999;
    max-width: 100%;
    max-height: 100%;
  }
}

.Activities {
  .segment-two-control {
    display: flex;
    justify-content: center;

    button {
      width: 16%;
      margin-left: 0.8em;
      background-color: #5cd39c;
      color: white;
      border: none;
    }
    .active {
      background-color: #1f8e93;
    }
  }

  .segment-three-container {
    margin-top: 3rem;
    border: 1px solid #9fdaeb;

    h2,
    h4 {
      padding-left: 0.4rem;
    }

    h2 {
      margin-bottom: 0;
    }

    h4 {
      margin-top: 0;
    }

    .graph-segment {
      display: flex;

      p {
        color: #707070;
      }

      .stacked-graph-container {
        height: 15rem;
        width: 10rem;
        margin: 0;

        canvas {
          width: 13rem !important;
          margin-left: -2rem;
        }
      }
    }
  }

  .info-container {
    border: 1px solid #9fdaeb;
    padding: 1rem;
    p {
      padding: 0;
      margin: 0;
    }
    .fab {
      margin-bottom: calc(var(--f7-fab-margin) - 3.5rem) !important;
      margin-right: calc(var(--f7-fab-margin) + 0.5rem);
    }
  }

  .progress-container {
    background-color: #d9e8ea;
    margin-bottom: 3rem;

    h4 {
      color: #707070;
      margin-left: 0.5rem;
      padding-top: 1rem;
    }

    .status {
      display: flex;
      justify-content: space-between;
      padding: 0 0.5rem;
      font-style: italic;
    }

    .progress-bar-wrap {
      margin: 1rem 0;

      .progress-bar {
        background-color: #b2d1d5;
        height: 2.2rem;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
      }

      .progress {
        position: relative;
        background: #1f8e93;
        height: 2.2rem;
        width: 100%;
        transition: width 0.5s ease-in;

        &:before {
          content: "";
          position: absolute;
          right: 0;
          border-bottom: 2.2rem solid #b2d1d5;
          border-left: 2.2rem solid #1f8e93;
        }
      }
    }

    .favorite {
      display: flex;
      overflow-x: hidden;

      .favorite-container {
        flex: 1;
        padding: 0.5em;
        color: #5b5a61;

        > div {
          text-align: center;

          &:first-child {
            font-size: 2em;
          }

          &:last-child {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

.text-right {
  text-align: right;
}
